/* Main */
:root {
  --background-color: #f7ebec;
  --main-color: #f28482;
  --secondary-color: #415a77;
  --paragraph-text-color: #415a77;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
}

/* Homepage */

.homepage-hero {
  margin-top: 40px;
  margin-bottom: 70px;
  text-align: center;
}

p {
  font-weight: medium;
  font-size: 30px;
  color: var(--paragraph-text-color);
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 86px;
  color: var(--main-color);
  text-align: center;
  line-height: ;
}

h2 {
  font-weight: medium;
  font-size: 26px;
  color: var(--paragraph-text-color);
  text-align: center;
}

.btn-main {
  background-color: var(--main-color);
  border: solid 4px var(--main-color);
  border-radius: 20px;
  color: white;
  padding: 15px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  display: relative;
  text-align: center;
  margin-top: 50px;
  width: 25%;
  font-size: 20px;
  font-weight: medium;
}

.btn-main:hover {
  color: #fff !important;
  background-color: var(--secondary-color) !important;
}

/* Navbar */

.navbar {
  background-color: var(--background-color) !important;
  padding: 0px;
}

.navbar-brand {
  padding: 40px;
  margin-left: 60px;
}

.navbar-nav {
  margin-left: 450px;
}

.nav-link {
  color: var(--paragraph-text-color) !important;
  margin-left: 50px;
}

.active {
  color: var(--secondary-color) !important;
}

.nav-number {
  color: var(--main-color);
}

/* About  */

.about-page {
  padding-top: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 50px;
}

h3 {
  font-weight: bolder;
  font-size: 38px;
  color: var(--paragraph-text-color);
}

.description {
  font-size: 15px;
  line-height: 1.5;
  color: var(--paragraph-text-color);
  text-align: justify;
  width: 500px;
}

strong {
  color: var(--main-color);
}

.skill-icon {
  text-align: center;
  background-color: #f28482;
  color: white;
  border: solid 2px var(--main-color);
  border-radius: 8px;
  margin: 5px;
  padding: 5px 7px;
}

hr {
  color: var(--secondary-color);
  margin: 50px 50px 0px 50px;
}

/* Work  */

.work {
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 100px;
  text-align: justify;
}

h4 {
  color: var(--main-color);
  font-size: 30px;
  font-weight: 500;
  text-align: justify;
}

.btn-app {
  background-color: var(--main-color);
  border: solid 4px var(--main-color);
  border-radius: 20px;
  color: white;
  padding: 15px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  display: block;
  text-align: center;

  margin: 20px 200px 20px 50px;
  font-size: 20px;
  font-weight: medium;
}

.btn-app:hover {
  color: #fff !important;
  background-color: var(--secondary-color) !important;
}

/* Contact */

.contact {
  margin-top: 50px;
  margin-bottom: 75px;
  text-align: center;
}

.contact-text {
  margin-top: 20px;
  margin-bottom: -10px;
  color: var(--paragraph-text-color);
}

.find-me {
  font-size: 15px;
  line-height: 1.5;
  color: var(--paragraph-text-color);
}

.github {
  color: var(--main-color);
}

/* responsive */

@media (max-width: 820px) {
  .btn-main {
    width: 40%;
  }
}
