/* Main */
:root {
  --background-color: #4c5058;
  --main-color: #fbafc3;
  --secondary-color: #a48892;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
}

/* Homepage */

.homepage-hero {
  margin-top: 40px;
  margin-bottom: 70px;
}

p {
  font-weight: medium;
  font-size: 30px;
  color: white;
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 86px;
  color: var(--main-color);
  text-align: center;
}

h2 {
  font-weight: medium;
  font-size: 26px;
  color: white;
  text-align: center;
}

.btn-main {
  background-color: var(--main-color);
  border: solid 4px var(--main-color);
  border-radius: 4px;
  color: white;
  padding: 15px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  display: block;
  text-align: center;
  margin: 50px 500px;
  font-size: 20px;
  font-weight: medium;
}

.btn-main:hover {
  color: #fff !important;
  background-color: var(--secondary-color) !important;
}

/* Navbar */

.navbar {
  background-color: var(--background-color) !important;
  padding: 0px;
}

.navbar-brand {
  padding: 40px;
  margin-left: 40px;
}

.navbar-nav {
  margin-left: 400px;
}

.nav-link {
  color: white !important;
  margin-left: 30px;
}

.active {
  color: var(--secondary-color) !important;
}

.nav-number {
  color: var(--secondary-color);
}

/* About  */

.about-page {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 50px;
}

h3 {
  font-weight: bolder;
  font-size: 38px;
  color: #fff;
}

.description {
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-align: justify;
}

strong {
  color: var(--main-color);
}

.skill-icon {
  text-align: center;
  color: #fff;
  border: solid 2px var(--secondary-color);
  border-radius: 8px;
  margin: 5px;
  padding: 5px 7px;
}

hr {
  color: var(--secondary-color);
  margin: 50px 50px 0px 50px;
}

/* Work  */

.work {
  margin-top: 50px;
  margin-left: 100px;
}

h4 {
  color: var(--main-color);
  font-size: 30px;
  font-weight: 500;
}
